/* #main{
    margin:5px;
    width:40%;
    margin-left:80px;
    margin-top:20px;
    margin-bottom:20px;
    transition:transform, 0.1s;
}

#main:hover{
    transform:scale(1.05);

}

.dots{
    display:inline;

}
.more{
    display:none;
}

.button{
    border:2px solid red;
    border:none;
    background:none;
    display:flex;
    width:100px;
    color:blue;
    text-decoration:underline;
    margin-top:-15px
    
}
.desc>p{
    border:2px solid blue;
    
}
.desc{
    display:flex;
    flex-direction:column;
} */

* {
    box-sizing: border-box;
}

.item-main-div {
    position: relative;
    width: 40%;
    height: 180px;
    /* overflow:auto; */
    /* border:2px solid greenyellow; */
    margin-bottom: 30px;
    margin-left: 7%;
    transition: transform 0.1s ease-in;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.item-container {
    /* border:2px solid red; */
    width: 100%;
    height: 180px;
    /* display:table; */
    /* height:max-content; */
    /* height:auto; */
    position: absolute;
    /* overflow:auto; */
    margin-bottom: 10px;
    display: flex;
}

.item-main-div:hover {
    transform: scale(1.05);
}

.item-image {
    /* border:2px solid black; */
    width: 50% !important;
    height: 175px;
    /* overflow:hidden; */
}

.item-description {
    position: absolute;
    text-align: justify;
    /* padding:5px; */
    /* padding-left:10px; */
    /* padding-right:10px; */
    color: blue;
    font-size: 15px;
    width: 50%;
    height: 180px;
    /* border:2px solid green; */
    right: 0;
    overflow: hidden;
    /* display:table-row; */
    padding: 10px;
}

button {
    display: inline;
    border: none;
    background: none;
    color: red;
}


/*---------------------Desktop view---------------------*/

@media (max-width:1400px) {
    .item-main-div,
    .item-container {
        height: 180px !important;
        display: flex;
    }
    .item-image {
        margin-left: 0 !important;
    }
    .item-description {
        height: 180px !important;
    }
}


/* -----------------------Tablet view------------------------- */

@media (min-width:787px) and (max-width:992px) {
    .item-main-div,
    .item-container {
        height: 180px !important;
        display: flex;
    }
}


/* -----------------------Mobile view------------------------- */

@media (max-width:786px) {
    .item-main-div,
    .item-container {
        height: 470px !important;
        /* height:360px; */
        display: block;
    }
    .item-main-div {
        margin-top: 20px;
    }
    .item-description {
        height: 295px !important;
    }
    .item-image {
        width: 100% !important;
        /* margin-left:10% !important; */
    }
    .item-description {
        width: 100%;
        word-spacing: 0;
        letter-spacing: 0;
    }
}